body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #705736 !important
}

.user_card {
  height: 450px;
  width: 500px;
  margin-top: 120px;
  margin-bottom: auto;
  margin-left: 50px;
  background: #d2b48c;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.brand_logo_container {
  position: absolute;
  height: 260px;
  width: 240px;
  top: -75px;
  border-radius: 50%;
  background: #d2b48c;
  padding: 10px;
  text-align: center;
}

.brand_logo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid white;
}

.form_container {
  margin-top: 100px;
}

.login_btn {
  width: 220px;
  background: #c0392b !important;
  color: white !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.input_user,
.input_pass {
  padding: 10px;
  width: 325px;
  /* Increase the padding */
  font-size: 16px;
  /* Increase the font size */
  margin-bottom: 10px;
}
